{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-success">
        Customer data saved with success!
    </div>

    <div class="card">
        <div class="card-header">
            Customer Information
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">First Name: {{ customer.firstName }}</li>
            <li class="list-group-item">Last Name: {{ customer.lastName }}</li>
            <li class="list-group-item">Telephone: {{ customer.telephone }}</li>
        </ul>
        <div class="card-header">
            Address Information
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Address: {{ customer.address.street }} {{ customer.address.houseNumber }}</li>
            <li class="list-group-item">PLZ: {{ customer.address.zipCode }}</li>
            <li class="list-group-item">City: {{ customer.address.city }}</li>
        </ul>
        <div class="card-header">
            Payment Information
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Account Owner: {{ customer.payment.owner }}</li>
            <li class="list-group-item">IBAN: {{ customer.payment.iban }}</li>
            <li class="list-group-item">Payment ID: {{ customer.payment.paymentDataId }}</li>
        </ul>
        <div class="card-footer">
            <a href="/">Create a new register</a>
        </div>
    </div>
{% endblock %}