{% extends 'base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            Payment Information
        </div>
        <div class="card-body">
            <h5 class="card-title">We will keep your details secure.</h5>

            {{ form(form) }}
        </div>
    </div>
{% endblock %}